In [1]:
!pip install tabula-py xlrd==1.2.0 lxml --quiet

     |████████████████████████████████| 12.0 MB 3.6 MB/s
     |████████████████████████████████| 103 kB 66.5 MB/s

# Working with Headers

In [2]:
import pandas as pd
import numpy as np
from urllib.request import urlretrieve

In [3]:
url = (
    'https://raw.githubusercontent.com/PacktWorkshops/'
    'The-Data-Wrangling-Workshop/master/Chapter05/datasets/CSV_EX_1.csv'
)
urlretrieve(url, 'ex1.csv')

('ex1.csv', <http.client.HTTPMessage at 0x7f91a5566f90>)

In [4]:
df = pd.read_csv('ex1.csv')
df

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

### Read a .csv file with no header

In [5]:
url = (
    'https://raw.githubusercontent.com/PacktWorkshops/'
    'The-Data-Wrangling-Workshop/master/Chapter05/datasets/CSV_EX_2.csv'
)
urlretrieve(url, 'ex2.csv')

df2 = pd.read_csv('ex2.csv')
df2

   2   1500        Good   300000
0  3   1300        Fair   240000
1  3   1900   Very good   450000
2  3   1850         Bad   280000
3  2   1640        Good   310000

In [6]:
df2 = pd.read_csv('ex2.csv', header=None)
df2

   0     1           2       3
0  2  1500        Good  300000
1  3  1300        Fair  240000
2  3  1900   Very good  450000
3  3  1850         Bad  280000
4  2  1640        Good  310000

### Add the names argument to get the correct headers

In [7]:
df2 = pd.read_csv('ex2.csv', header=None,
                  names=['Bedroom','Sq.ft', 'Locality','Price($)'])
df2

   Bedroom  Sq.ft    Locality  Price($)
0        2   1500        Good    300000
1        3   1300        Fair    240000
2        3   1900   Very good    450000
3        3   1850         Bad    280000
4        2   1640        Good    310000

# Reading from a CSV File Where Delimiters Are Not Commas

In [8]:
url = (
    'https://raw.githubusercontent.com/PacktWorkshops/'
    'The-Data-Wrangling-Workshop/master/Chapter05/datasets/CSV_EX_3.csv'
)
urlretrieve(url, 'ex3.csv')

df3 = pd.read_csv('ex3.csv')
df3

  Bedroom; Sq. foot; Locality; Price ($)
0                  2; 1500; Good; 300000
1                  3; 1300; Fair; 240000
2             3; 1900; Very good; 450000
3                   3; 1850; Bad; 280000
4                  2; 1640; Good; 310000

In [9]:
df3 = pd.read_csv('ex3.csv', sep=';')
df3

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

# Bypassing and Renaming the Headers of a CSV File

In [11]:
df4 = pd.read_csv('ex1.csv', names=['A','B','C','D'])
df4

         A          B           C           D
0  Bedroom   Sq. foot    Locality   Price ($)
1        2       1500        Good      300000
2        3       1300        Fair      240000
3        3       1900   Very good      450000
4        3       1850         Bad      280000
5        2       1640        Good      310000

In [12]:
df4 = pd.read_csv('ex1.csv', header=0, names=['A','B','C','D'])
df4

   A     B           C       D
0  2  1500        Good  300000
1  3  1300        Fair  240000
2  3  1900   Very good  450000
3  3  1850         Bad  280000
4  2  1640        Good  310000

# Skipping Initial Rows and Footers When Reading a CSV File

In [13]:
url = (
    'https://raw.githubusercontent.com/PacktWorkshops/'
    'The-Data-Wrangling-Workshop/master/Chapter05/datasets/CSV_EX_skiprows.csv'
)
urlretrieve(url, 'ex5.csv')

df5 = pd.read_csv('ex5.csv')
df5

  Filetype: CSV              Unnamed: 1  Unnamed: 2  Unnamed: 3
0           NaN  Info about some houses         NaN         NaN
1       Bedroom                Sq. foot    Locality   Price ($)
2             2                    1500        Good      300000
3             3                    1300        Fair      240000
4             3                    1900   Very good      450000
5             3                    1850         Bad      280000
6             2                    1640        Good      310000

In [14]:
df5 = pd.read_csv('ex5.csv', skiprows=2)
df5

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [15]:
url = (
    'https://raw.githubusercontent.com/PacktWorkshops/'
    'The-Data-Wrangling-Workshop/master/Chapter05/datasets/CSV_EX_skipfooter.csv'
)
urlretrieve(url, 'ex6.csv')

df6 = pd.read_csv('ex6.csv')
df6

  Filetype: CSV                Unnamed: 1  Unnamed: 2  Unnamed: 3
0           NaN    Info about some houses         NaN         NaN
1       Bedroom                  Sq. foot    Locality   Price ($)
2             2                      1500        Good      300000
3             3                      1300        Fair      240000
4             3                      1900   Very good      450000
5             3                      1850         Bad      280000
6             2                      1640        Good      310000
7           NaN   This is the end of file         NaN         NaN

In [16]:
df6 = pd.read_csv('ex6.csv', skiprows=2, skipfooter=1, engine='python')
df6

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

# Reading Only the First N Rows

In [17]:
df7 = pd.read_csv('ex1.csv', nrows=2)
df7

   Bedroom   Sq. foot  Locality   Price ($)
0        2       1500      Good      300000
1        3       1300      Fair      240000

#  Combining skiprows and nrows to Read Data in Small Chunks

In [22]:
# Create a list where DataFrames will be stored
list_of_dataframe = []
# Store the number of rows to be read into a variable
rows_in_a_chunk = 10
# Create a variable to store the number of chunks to be read
num_chunks = 5
# Create a dummy DataFrame to get the column names
url = (
    'https://raw.githubusercontent.com/PacktWorkshops/'
    'The-Data-Wrangling-Workshop/master/Chapter05/datasets/Boston_housing.csv'
)
urlretrieve(url, 'boston.csv')

df_dummy = pd.read_csv('boston.csv', nrows=2)
colnames = df_dummy.columns

In [23]:
for i in range(0,num_chunks*rows_in_a_chunk,rows_in_a_chunk):
  df = pd.read_csv("boston.csv", header=0, 
                   skiprows=i, 
                   nrows=rows_in_a_chunk,
                   names=colnames
                  )
  list_of_dataframe.append(df)

In [24]:
list_of_dataframe

[      CRIM    ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD  TAX  PTRATIO  \
 0  0.00632  18.0   2.31     0  0.538  6.575   65.2  4.0900    1  296     15.3
 1  0.02731   0.0   7.07     0  0.469  6.421   78.9  4.9671    2  242     17.8
 2  0.02729   0.0   7.07     0  0.469  7.185   61.1  4.9671    2  242     17.8
 3  0.03237   0.0   2.18     0  0.458  6.998   45.8  6.0622    3  222     18.7
 4  0.06905   0.0   2.18     0  0.458  7.147   54.2  6.0622    3  222     18.7
 5  0.02985   0.0   2.18     0  0.458  6.430   58.7  6.0622    3  222     18.7
 6  0.08829  12.5   7.87     0  0.524  6.012   66.6  5.5605    5  311     15.2
 7  0.14455  12.5   7.87     0  0.524  6.172   96.1  5.9505    5  311     15.2
 8  0.21124  12.5   7.87     0  0.524  5.631  100.0  6.0821    5  311     15.2
 9  0.17004  12.5   7.87     0  0.524  6.004   85.9  6.5921    5  311     15.2

         B  LSTAT  PRICE
 0  396.90   4.98   24.0
 1  396.90   9.14   21.6
 2  392.83   4.03   34.7
 3  394.63   2.94   33.4
 4  396.90   5.33   36.2
 5  394.12   5.21   28.7
 6  395.60  12.43   22.9
 7  396.90  19.15   27.1
 8  386.63  29.93   16.5
 9  386.71  17.10   18.9  ,
       CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
 0  0.22489  12.5   7.87     0  0.524  6.377  94.3  6.3467    5  311     15.2
 1  0.11747  12.5   7.87     0  0.524  6.009  82.9  6.2267    5  311     15.2
 2  0.09378  12.5   7.87     0  0.524  5.889  39.0  5.4509    5  311     15.2
 3  0.62976   0.0   8.14     0  0.538  5.949  61.8  4.7075    4  307     21.0
 4  0.63796   0.0   8.14     0  0.538  6.096  84.5  4.4619    4  307     21.0
 5  0.62739   0.0   8.14     0  0.538  5.834  56.5  4.4986    4  307     21.0
 6  1.05393   0.0   8.14     0  0.538  5.935  29.3  4.4986    4  307     21.0
 7  0.78420   0.0   8.14     0  0.538  5.990  81.7  4.2579    4  307     21.0
 8  0.80271   0.0   8.14     0  0.538  5.456  36.6  3.7965    4  307     21.0
 9  0.72580   0.0   8.14     0  0.538  5.727  69.5  3.7965    4  307     21.0

         B  LSTAT  PRICE
 0  392.52  20.45   15.0
 1  396.90  13.27   18.9
 2  390.50  15.71   21.7
 3  396.90   8.26   20.4
 4  380.02  10.26   18.2
 5  395.62   8.47   19.9
 6  386.85   6.58   23.1
 7  386.75  14.67   17.5
 8  288.99  11.69   20.2
 9  390.95  11.28   18.2  ,
       CRIM  ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD  TAX  PTRATIO  \
 0  1.25179   0   8.14     0  0.538  5.570   98.1  3.7979    4  307       21
 1  0.85204   0   8.14     0  0.538  5.965   89.2  4.0123    4  307       21
 2  1.23247   0   8.14     0  0.538  6.142   91.7  3.9769    4  307       21
 3  0.98843   0   8.14     0  0.538  5.813  100.0  4.0952    4  307       21
 4  0.75026   0   8.14     0  0.538  5.924   94.1  4.3996    4  307       21
 5  0.84054   0   8.14     0  0.538  5.599   85.7  4.4546    4  307       21
 6  0.67191   0   8.14     0  0.538  5.813   90.3  4.6820    4  307       21
 7  0.95577   0   8.14     0  0.538  6.047   88.8  4.4534    4  307       21
 8  0.77299   0   8.14     0  0.538  6.495   94.4  4.4547    4  307       21
 9  1.00245   0   8.14     0  0.538  6.674   87.3  4.2390    4  307       21

         B  LSTAT  PRICE
 0  376.57  21.02   13.6
 1  392.53  13.83   19.6
 2  396.90  18.72   15.2
 3  394.54  19.88   14.5
 4  394.33  16.30   15.6
 5  303.42  16.51   13.9
 6  376.88  14.81   16.6
 7  306.38  17.28   14.8
 8  387.94  12.80   18.4
 9  380.23  11.98   21.0  ,
       CRIM  ZN  INDUS  CHAS    NOX     RM    AGE     DIS  RAD  TAX  PTRATIO  \
 0  1.13081   0   8.14     0  0.538  5.713   94.1  4.2330    4  307     21.0
 1  1.35472   0   8.14     0  0.538  6.072  100.0  4.1750    4  307     21.0
 2  1.38799   0   8.14     0  0.538  5.950   82.0  3.9900    4  307     21.0
 3  1.15172   0   8.14     0  0.538  5.701   95.0  3.7872    4  307     21.0
 4  1.61282   0   8.14     0  0.538  6.096   96.9  3.7598    4  307     21.0
 5  0.06417   0   5.96     0  0.499  5.933   68.2  3.3603    5  279     19.2
 6  0.09744   0   5.96     0  0.499  5.841   61.4  3.3779    5  279     19.2
 7  0.08014   0   5.96     0  0.499  5.850   41.5  3.9342    5  279     19.2
 8  0.17505   0   5.96     0  0.499  5.966   30.2  3.8473    5  279     19.2
 9  0.02763  75   2.95     0  0.428  6.595   21.8  5.4011    3  252     18.3

         B  LSTAT  PRICE
 0  360.17  22.60   12.7
 1  376.73  13.04   14.5
 2  232.60  27.71   13.2
 3  358.77  18.35   13.1
 4  248.31  20.34   13.5
 5  396.90   9.68   18.9
 6  377.56  11.41   20.0
 7  396.90   8.77   21.0
 8  393.43  10.13   24.7
 9  395.63   4.32   30.8  ,
       CRIM  ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD  TAX  PTRATIO  \
 0  0.03359  75   2.95     0  0.428  7.024  15.8  5.4011    3  252     18.3
 1  0.12744   0   6.91     0  0.448  6.770   2.9  5.7209    3  233     17.9
 2  0.14150   0   6.91     0  0.448  6.169   6.6  5.7209    3  233     17.9
 3  0.15936   0   6.91     0  0.448  6.211   6.5  5.7209    3  233     17.9
 4  0.12269   0   6.91     0  0.448  6.069  40.0  5.7209    3  233     17.9
 5  0.17142   0   6.91     0  0.448  5.682  33.8  5.1004    3  233     17.9
 6  0.18836   0   6.91     0  0.448  5.786  33.3  5.1004    3  233     17.9
 7  0.22927   0   6.91     0  0.448  6.030  85.5  5.6894    3  233     17.9
 8  0.25387   0   6.91     0  0.448  5.399  95.3  5.8700    3  233     17.9
 9  0.21977   0   6.91     0  0.448  5.602  62.0  6.0877    3  233     17.9

         B  LSTAT  PRICE
 0  395.62   1.98   34.9
 1  385.41   4.84   26.6
 2  383.37   5.81   25.3
 3  394.46   7.44   24.7
 4  389.39   9.55   21.2
 5  396.90  10.21   19.3
 6  396.90  14.15   20.0
 7  392.74  18.80   16.6
 8  396.90  30.81   14.4
 9  396.90  16.20   19.4  ]

# Setting the skip_blank_lines Option

In [25]:
url = (
    'https://raw.githubusercontent.com/PacktWorkshops/'
    'The-Data-Wrangling-Workshop/master/Chapter05/datasets/CSV_EX_blankline.csv'
)
urlretrieve(url, 'ex9.csv')

df9 = pd.read_csv('ex9.csv')
df9

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [27]:
df9 = pd.read_csv('ex9.csv', skip_blank_lines=False)
df9

   Bedroom   Sq. foot    Locality   Price ($)
0      2.0     1500.0        Good    300000.0
1      3.0     1300.0        Fair    240000.0
2      NaN        NaN         NaN         NaN
3      3.0     1900.0   Very good    450000.0
4      3.0     1850.0         Bad    280000.0
5      NaN        NaN         NaN         NaN
6      2.0     1640.0        Good    310000.0