#  Adult Income Dataset

## Load the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from urllib.request import urlretrieve
plt.style.use('ggplot')
%matplotlib inline

## Read the adult income dataset

In [4]:
url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Wrangling-Workshop/master/Chapter04/datasets/adult_income_data.csv'
urlretrieve(url, 'adult.csv')

('adult.csv', <http.client.HTTPMessage at 0x7efc343cdf50>)

In [5]:
adult = pd.read_csv('adult.csv')
adult.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,Female,0,0,40,United-States,<=50K

## Create a script that read a text file

In [6]:
url = ('https://raw.githubusercontent.com/PacktWorkshops/'
'The-Data-Wrangling-Workshop/master/Chapter04/datasets/adult_income_names.txt'
)
urlretrieve(url, 'names.txt')

('names.txt', <http.client.HTTPMessage at 0x7efc342b5a90>)

In [12]:
res = []
names = []
with open('names.txt', 'r') as f:
  for line in f.readlines():
    res.append(line.split(':')[0])
  for item in res:
    if item != '\n':
      names.append(item)



print(names)

['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country']